@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');
:root {
  --yellow: #F9C76A;
  --blue: #297090;
}

body {
  font-family: 'Raleway', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Righteous', cursive;
  color: var(--yellow);
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: 2px 2px var(--blue);
}

/* SEARCH HEADER */
.searchSection {
  padding: 5rem;
  background: url("/img/header1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.searchSection input {
  font-size: 1.3rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
.fa-search {
  font-size: 2rem;
  color: var(--blue);
}
.searchSection button {
  border: none;
  background: none;
}


/* PAGINATION SECTION */
.pagination {
  display: inline-block;
}

.page-item {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.page-item:active {
  background-color: #4CAF50;
  color: white;
}

.page-item:hover:not(.active) {background-color: #ddd;}

 /* RECIPE BOX */
 .recipeBox {
   margin: 0 auto;
   padding: 2rem 1rem 1rem 1rem;
 }
 .recipeBox h3 {
   text-align: center;
   padding-bottom: 1rem;
   text-transform: uppercase;
 }

/* RECIPE CARD  */
 .recipeCard {
   border: 2px solid black;
   padding: 1rem;
   margin-bottom: 1rem;
 }
 .recipeCard h2 {
   padding-bottom: .6rem;

 }
 .instructions {
   padding-top: 1rem;
 }
